.contact-layout {
  display: flex;
}



.contact-wrapper {
    padding: 20px;
  /* flex-grow: 1; */
margin-left: 20px;
margin-right: 50px;
  background: #fff;
  margin: 20px;
 box-shadow: 0 1px 4px rgba(0,0,0,0.1);
 min-height: 1px;
 flex: 1 1 auto;

}

.contact-wrapper h4 {
  margin-bottom: 20px;
  font-size: 24px;

  /* color: #333; */
   color: #6c757d;
}

.contact-form {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.form-section {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}


.form-group {
  display: flex;
  flex-direction: column;
}
.form-control{
    height: auto;
    width:330px ;
}
.form-group label {
  margin-bottom: 5px;
  font-weight: 500;
  /* color: #444; */
   color: #6c757d;
}

.form-group label span{
    color: red;
}


.form-group select,
.form-group textarea {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-group input{
    width: 430px;
}

textarea {
  resize: vertical;
}

.file-upload .file-box {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}



.file-box span{
    color: black;
}



.form-actions button {
  padding: 10px 20px;
  background: #001f4d;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.form-actions button i{
    margin-right: 10px;
    font-size: 20px;
}

/* you add */
.sidebar-section{
   border-left: 4px solid whitesmoke;
   padding: 30px;
}

.form-actions button:hover{
    background: blue;
}
